.cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcc01;
  width: 80vw;
  margin-left: 4rem;
  margin-top: 100px;
  border-radius: 10px;
  .titulo {
    color: white;
    background-color: black;
    width: 80vw;
    font-size: 2rem;

    font-weight: bolder;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
  }
  .search {
    display: flex;
    margin-top: 20px;
    .form {
      padding-left: 150px;
      padding-right: 150px;
      padding-bottom: 100px;
      .imput[type="button"] {
        width: 20vw;
        height: 30px;
        margin-top: 10px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        border: 2px solid grey;
        font-size: larger;
        font-weight: bolder;
      }
      input[type="button"]:hover {
        background-color: red;
        color: white;
        border: 2px solid black;
      }

      .imput[type="text"] {
        text-align: center;
        width: 30vw;
        height: 30px;
        border-radius: 10px;
        border: 2px solid blue;
      }
      .ula {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        color: black;
        font-size: 20px;
        .kit {
          all: unset;
        }
      }
    }
  }
}
